<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>147669906409-c9bd2km71jddas9b5rqjkf5n16fabu36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147669906409-c9bd2km71jddas9b5rqjkf5n16fabu36</string>
	<key>API_KEY</key>
	<string>AIzaSyDVdzqLFkLvEB58K-_dyQVnks-NffO9qSE</string>
	<key>GCM_SENDER_ID</key>
	<string>147669906409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indosystem.arisan</string>
	<key>PROJECT_ID</key>
	<string>arisan-552bf</string>
	<key>STORAGE_BUCKET</key>
	<string>arisan-552bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:147669906409:ios:8c95f481b6488f92</string>
	<key>DATABASE_URL</key>
	<string>https://arisan-552bf.firebaseio.com</string>
    </dict>
</plist>
